NET "AN" LOC = f12;
NET "DISP<0>" LOC = m12;
NET "PWM_OUT" LOC = m5;
NET "DISP<1>" LOC = l13;
NET "DISP<2>" LOC = p12;
NET "DISP<3>" LOC = n11;
NET "DISP<4>" LOC = n14;
NET "DISP<5>" LOC = h12;
NET "DISP<6>" LOC = l14;
NET "CLOCK" LOC = g1;
NET "TOP_IN<0>" LOC = p11;
NET "TOP_IN<1>" LOC = l3;
NET "TOP_IN<2>" LOC = k3;
NET "TOP_IN<3>" LOC = b4;
NET "TOP_IN<4>" LOC = g3;
NET "TOP_IN<5>" LOC = f3;
NET "TOP_IN<6>" LOC = e2;
NET "TOP_IN<7>" LOC = n3;